---
import BaseLayout from '../layouts/BaseLayout.astro';
import Project from '../components/Project.astro';
const allProjects = await Astro.glob('../pages/projects/*.md');

allProjects.sort((a, b) => {
  const dateA = new Date(a.frontmatter.date).getTime();
  const dateB = new Date(b.frontmatter.date).getTime();
  return dateB - dateA; // Descending order
});
---
<BaseLayout>
  <section>
    <h1>Frontend projects</h1>

    <ul>
      {allProjects.map((project) => <Project url={project.frontmatter.url} title={project.frontmatter.title} image={project.frontmatter.image} 
      description={project.frontmatter.description} tags={project.frontmatter.tags} date={project.frontmatter.date} githubUrl={project.frontmatter.githubUrl}/>)}
    </ul>
</section>
</BaseLayout>

<style>
  
h1 {
  font-size:  clamp(3rem, 5vw + 1rem, 6rem);
  text-transform: uppercase;
}

section {
  /* display: grid; */
  /* justify-items: center; */
  /* align-items: center; */
  /* grid-template-columns: 2fr 2fr; */
}

ul {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

@media (width > 45rem) {

  section {
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 2rem;
  }
}
</style>